:root{
    font-family: "Rubik", serif;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    
}
.logo-section{
    background-image: url(images/background_asafyrov_unsplash.jpg);
    width: 30vw;
    min-height: 100vh;
    background-position: 60%;
    background-repeat:no-repeat;
    background-size: cover;
}
.form-section{
    display: flex;
    flex-direction: column;
    width: 70vw;

    justify-content: start;
    background-color: rgba(235, 228, 228, 0.421);
}
.signup-form{
    background-color:  rgb(255, 255, 255);
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    padding: 2.5rem;
    padding-top: 1.5rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(86, 86, 86);
}
.signup-form>form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}
.signup-form>p{
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    color: black;
    font-size: 1rem;
}

.form-row{
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

entry{
   display: flex;
   flex-direction: column; 
   width: 230px;
}
input{
    height: 1.4rem;
    border-radius: 5px;
    border: 1.5px solid rgba(128, 128, 128, 0.452);
}
input:focus{
    border: 1.5px solid rgb(88, 152, 255);
    outline: none;
    box-shadow: 1px 1px 4px rgb(47, 47, 47);
}
.error{
    outline: none;
    border: 1.5px solid red;
}
.after-text{
    color: red;
    text-transform: none;
    padding-top: 0.2em;
    
}
.after-text::after{
    content: "*Passwords do not match";
}
.account{
    padding: 2.5rem;
}
button{
    width: 13rem;
    height: 2.5rem;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: white;
    background-color: #768aa1;
    border-radius: 0.7rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(47, 47, 47);
}
button:active{
    background-color: #546374;
}
header{
    padding: 2.5rem;
}
header>p{
    font-size: 1.4rem;
}
header>:nth-child(2){
    margin-bottom: 0;
}
.signup-form>p{
    text-transform: none;
    font-size: 1.4rem;
}
