:root{
    font-family: "Rubik", serif;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}
.logo-section{
    border: 1px black solid;
    background-image: url(images/background_asafyrov_unsplash.jpg);
    width: 30vw;
}
.form-section{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 70vw;
    justify-content: center;
}
header>p{
    font-size: 1.4rem;
}